@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #025951, #026b61 );
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    flex-direction: column;
    gap: 30px;
    background-color: #F2E6DF;
    border-radius: 10px;
}

.container h1 {
    font-size: 2em;
    color: #BF500F;
}

.inputArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.inputArea input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    outline: none;
   border: none; /* Garante que não há outras bordas */
    border-top: 2px solid #BF500F;
    border-bottom: 2px solid #BF500F;
    background-color: #f2e6df9c;
    color: #025951;
    
} 

.inputArea input::placeholder {
    color: #025951;

}
.inputArea button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 12px;
    border-radius: 50%;
    background-color: #BF500F;
    color: #F2E6DF;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    
}

/* Feedback para o botão */
.inputArea button:hover {
    background-color: #a3440d; /* Um tom de laranja mais escuro */
}

/* Feedback para o input (importante para acessibilidade) */
.inputArea input:focus {
    box-shadow: 0 0 0 1px #BF500F;
}

.todoContainer {
    align-items: flex-start;
    justify-content: flex-start;
}

#taskList {
    width: 100%;
    padding-left: 0;
}

#taskList li {
    list-style: none;
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    outline: none;
    background-color: #f2e6df9c;
    color: #025951;
    padding-right: 35px;
}

.task-checkbox{
    opacity: 10;
    width: 10;
    height: 10;  
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  
}
li.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.1rem;
    color: #BF500F;
    background-color: #F2E6DF;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bolder;
}

.deleteBtn:hover {
    color: #a3440d;
    background-color: #d3c8c1;
    padding: 0;
    border-radius: 50%;
    
}
